extends ../layout

block content
  h1 Books
  include ../includes/books_nav.pug
  
  //- input#bookSearch(type='text', onkeyup='search("chris", bookTitle)', placeholder='Search books ...')
  
  table
    thead
      tr
          th Title
          th Author
          th Genre
          th Year Released
          th Delete Book
    tbody
          each book in books
            tr
              td
                a(href=`/books/${book.id}`) #{book.title}
              td #{book.author}
              td #{book.genre}
              td #{book.first_published}
              td 
                a.button(class='delete' href=`/books/${book.id}/delete`) x
        
    //- 'books' in the each loop above comes from the argument passed in the route's 'then' callback.
      
  
