extends ../layout

block content
  h1 Books
  include ../includes/books_nav.pug
  table
    thead
      tr
          th Title
          th Author
          th Genre
          th Year Released
    tbody
        each book in books
            tr
              td
                  a(href=`/books/${book.id}`) #{book.title}
              td #{book.author}
              td #{book.genre}
              td #{book.first_published}
        //- 'books' in the each loop above comes from the argument passed in the route's 'then' callback.
      
  
