extends ../layout

block content
    h1 Delete Book
    
    p  Are you sure you wish to delete this book? This action is irreversible. Click cancel to return to the previous screen.

    H4 You are deleting the following record:

    p
      strong Book Title:
      |  #{bookToDelete.title}
    p
      strong Author::
      |  #{bookToDelete.author}
    p
      strong Genre:
      |  #{bookToDelete.genre}
    p
      strong Year Released:
      |  #{bookToDelete.first_published}  
      
    //- form(method='post', action=`/books/${loanDetail.id}/delete`)
    a.button(href='/books') Cancel and Return to 'All Books'
    H4 !!Delete Book post route still to be completed!!
    //- input.button#delete(type='submit', value='I\'m sure, Please Delete')
    //- span   
    //- Span element just to put whitespace between button. Maybe there's a better solution?
    
  
    
