table
  thead
    tr
      th Book
      th Patron 
      th Loaned on
      th Return by 
      th Returned on
      th Action
  tbody
    each loan in loanHistory
      tr
        td
          a(href=`/books/${loan.Book.id}`) #{loan.Book.title}
        td
          a(href=`/patrons/${loan.Patron.id}`) #{loan.Patron.first_name} #{loan.Patron.last_name}
        td #{loan.loaned_on}
        td #{loan.return_by}
        td #{loan.returned_on}
        td
          a.button(href=`/loans/${loan.id}/return`) Return Book
          
          //- This link is being created on the fly. It says "go to /books/x/return but throw in at x the loan id the current page has from the loanHistory data it has available to it"
