extends layout

block content
    h1 Patron: #{patronDetail.first_name} #{patronDetail.last_name}
    form(action="/patrons/" + patronDetail.id + "?_method=PUT", method="post")
      p
        label(for='first_name') First Name
        input#first_name(type='text', name="first_name" value=patronDetail.first_name)
      p
        label(for='last_name') Last Name
        input#last_name(type='text', name="last_name" value=patronDetail.last_name)
      p
        label(for='address')  Address
        input#address(type='text', name="address" value=patronDetail.address)
      p
        label(for='email') Email
        input#email(type='text', name="email" value=patronDetail.email)
      p
        label(for='library_id') Library ID
        input#library_id(type='text', name="library_id" value=patronDetail.library_id)
      p
        label(for='zip_code') Zip Code
        input#zip_code(type='text', name="zip_code" value=patronDetail.zip_code)
      p
        input(type='submit', value='Update')
    include includes/loan_history.pug
