extends ../layout

block content
    h1 Loans
    include ../includes/loans_nav.pug
    table
      thead
        tr
          th Book
          th Patron
          th Loaned on
          th Return by
          th Status
          th Return Book
          th Delete Entry
      tbody
          each loan in loans
              tr
                td
                  a(href=`/books/${loan.Book.id}`)=loan.Book.title
                td
                  a(href=`/patrons/${loan.Patron.id}`)=loan.Patron.first_name  + ' ' + loan.Patron.last_name
                td=loan.loaned_on
                td=loan.return_by
                td
                  if loan.returned_on
                    =`Returned` + ` ` + `(` + loan.returned_on + `)`
                  else if loan.return_by < todaysDate
                      span#overdue Return Overdue
                  else
                      p#loaned Out on loan      
                td
                  if loan.returned_on
                    a.button#returned(href='loans/new') Reloan
                    
                  else
                    a.button(href=`/loans/${loan.id}/return`) Return
                td
                  a.button(class='delete' href=`/loans/${loan.id}/delete`) x


  
