extends ../layout

block content
    h1 Delete Loan
    
    p Are you sure you wish to delete this loan record? This action is irreversible. Click cancel to return to the previous screen.
    
    H4 You are deleting the following record:
    p
      strong Book Title:
      |  #{loanDetail.Book.title}
    p
      strong Loaned By:
      |  #{loanDetail.Patron.first_name} #{loanDetail.Patron.last_name}
    p
      strong Loaned On:
      |  #{loanDetail.loaned_on}
    p
      strong Return By:
      |  #{loanDetail.return_by}  
    p
      strong Returned On:
      if loanDetail.returned_on
        |  #{loanDetail.returned_on}
      else
        |  This book has not yet been returned.
        
    form(method='post', action=`/loans/${loanDetail.id}/delete`)
      a.button(href='/loans') Cancel and Return to 'All Loans'
      input.button#delete(type='submit', value='I\'m sure, Please Delete')
      span   
    //- Span element just to put whitespace between button. Maybe there's a better solution?
    
